.markdown {
  margin: 1rem 0;
  padding: 0.4rem;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1.5;
  word-break: break-word;
  column-count: 2;
  column-gap: 2rem;
  height: fit-content;
  overflow: scroll;
}

.markdown a {
  color: #8f6100;
  text-decoration: none;
  font-weight: 600;
}

.markdown h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #f9cf74;
  margin: 0;
}

.markdown h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2rem;
  color: #ab7500;
  margin: 0;
}

.markdown h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2rem;
  color: #ab7500;
  margin: 0;
}

.markdown div ul {
  background-color: #f5d48daa;
  box-shadow: 0 0 0 1px #f5d48d, 0 0 0 0 transparent;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccae17;
  border-radius: 1rem;
}

@media screen and (max-width: 1021px) {
  .markdown {
    column-count: 1;
    column-gap: 0rem;
    padding: 1rem;
  }

  .markdown a {
    font-weight: 500;
  }

  .markdown h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
  }

  .markdown h2 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 2rem;
    margin: 0;
  }

  .markdown div ul {
    margin: 0.5rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 1021px) {
  .markdown {
    column-count: 1;
    column-gap: 0rem;
    padding: 1rem;
    margin: 0.5rem 0;
  }

  .markdown a {
    font-weight: 400;
    font-size: medium;
  }

  .markdown h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
  }

  .markdown h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2rem;
    margin: 0;
  }

  .markdown div ul {
    margin: 0.6rem;
    padding: 0.7rem;
    font-size: medium;
  }
}

@media screen and (max-width: 640px) {
  .markdown {
    padding: 0.2rem;
    margin: 0.3rem 0;
  }

  .markdown a {
    font-weight: 300;
    font-size: small;
  }

  .markdown h3 {
    font-size: 1rem;
    font-weight: 400;
  }

  .markdown h2 {
    font-size: 1rem;
    font-weight: 700;
  }

  .markdown div ul {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: small;
  }
}
